<router-outlet/>
<h1 class="absolute w-20 ml-10 text-h2 text-orange-700">Pet Travel Check</h1>
<div class="flex flex-col justify-center pt-16">

	<app-survey-started class="flex flex-col items-center"></app-survey-started>
  <app-question-list (onSurveyCompleted)="onSurveyCompleted()"></app-question-list>
  <app-results class="flex flex-col items-center" *ngIf="finished"></app-results>

  <div class="flex flex-row justify-between">
    <img class="flex w-96 justify-end" src="assets/Mountain1.svg">
    <img class="flex w-96 justify-end" src="assets/Mountain2.svg">
  </div>
</div>

<button (click)="test()">test</button>
